# HANDLE ITERABLE VALUES IN DATAFRAME
cols_iterable_values = {{ cols_iterable_values }}
for col in cols_iterable_values:
{% if training %}
    __train_dataset[col] = __train_dataset[col].fillna("").astype(str)
{% endif %}
{% if test %}
    __test_dataset[col] = __test_dataset[col].fillna("").astype(str)
{% endif %}

