# HANDLE MIXED TYPE
import numpy as np
cols_numeric_and_string = {{ cols_numeric_and_string}}
for col in cols_numeric_and_string:
{% if training %}
    __train_dataset[col + '__str'] = np.where(pd.to_numeric(__train_dataset[col], errors='coerce').isnull(), __train_dataset[col], np.nan)
    __train_dataset[col + '__num'] = np.where(pd.to_numeric(__train_dataset[col], errors='coerce').isnull(), np.nan, __train_dataset[col]).astype(float)
    __train_dataset = __train_dataset.drop(col, axis=1)
{% endif %}
{% if test %}
    __test_dataset[col + '__str'] = np.where(pd.to_numeric(__test_dataset[col], errors='coerce').isnull(), __test_dataset[col], np.nan)
    __test_dataset[col + '__num'] = np.where(pd.to_numeric(__test_dataset[col], errors='coerce').isnull(), np.nan, __test_dataset[col]).astype(float)
    __test_dataset = __test_dataset.drop(col, axis=1)
{% endif %}
