# LOAD DATA
import pandas as pd

{% if dataset.ignore_columns %}
ignore_columns = {{ dataset.ignore_columns }}
{% endif %}

{% if dataset.training_data_path.endswith(".pkl") %}
__train_dataset = pd.read_pickle("{{ dataset.training_data_path }}")
{% else %}
__train_dataset = pd.read_csv("{{ dataset.training_data_path }}", encoding="{{ dataset.csv_encoding }}", delimiter="{{ dataset.csv_delimiter }}")
{% endif %}
{% if dataset.ignore_columns %}
__train_dataset = __train_dataset.drop(ignore_columns, axis=1, errors="ignore")
{% endif %}

{% if dataset.validation_data_path %}
{% if dataset.validation_data_path.endswith(".pkl") %}
__validation_dataset = pd.read_pickle("{{ dataset.validation_data_path }}")
{% else %}
__validation_dataset = pd.read_csv("{{ dataset.validation_data_path }}", encoding="{{ dataset.csv_encoding }}", delimiter="{{ dataset.csv_delimiter }}")
{% endif %}
{% if dataset.ignore_columns %}
__validation_dataset = __validation_dataset.drop(ignore_columns, axis=1, errors="ignore")
{% endif %}
__train_dataset = pd.concat([__train_dataset, __validation_dataset]).reset_index(drop=True)
{% endif %}{# if dataset.validation_data_path #}
