# LOAD DATA
import pandas as pd

{% if dataset.ignore_columns %}
ignore_columns = {{ dataset.ignore_columns }}
{% endif %}

{% if dataset.test_data_path %}
{% if dataset.test_data_path.endswith(".pkl") %}
__test_dataset = pd.read_pickle("{{ dataset.test_data_path }}")
{% else %}
__test_dataset = pd.read_csv("{{ dataset.test_data_path }}", encoding="{{ dataset.csv_encoding }}", delimiter="{{ dataset.csv_delimiter }}")
{% endif %}
{% else %}{# It is assumed that test data has the same format as train data #}
{% if dataset.training_data_path.endswith(".pkl") %}
__test_dataset = pd.read_pickle("./test.pkl")
{% else %}
__test_dataset = pd.read_csv("./test.csv", encoding="{{ dataset.csv_encoding }}", delimiter="{{ dataset.csv_delimiter }}")
{% endif %}
{% endif %}
{% if dataset.ignore_columns %}
__test_dataset = __test_dataset.drop(ignore_columns, axis=1, errors="ignore")
{% endif %}
