import numpy as np
from {{import_library}} import {{ model_name }}

{% if model_arg == "HPO_noRandomSeed" %}
__model = {{ model_name }}(**best_params)
{% elif model_arg == "HPO_RandomSeed" %}
random_state_model = {{ pipeline.task.seed_for_model}}
__model = {{ model_name }}(random_state=random_state_model, **best_params)
{% elif model_arg == "noHPO_noRandomSeed" %}
__model = {{ model_name }}({{ params }})
{% elif model_arg == "noHPO_RandomSeed" %}
random_state_model = {{ pipeline.task.seed_for_model}}
__model = {{ model_name }}(random_state=random_state_model, {{ params }})
{% endif %}

{% if is_multioutput_regression%}
from sklearn.multioutput import MultiOutputRegressor

__model = MultiOutputRegressor(__model)
{% elif is_multioutput_classification %}
from sklearn.multioutput import MultiOutputClassifier

__model = MultiOutputClassifier(__model)
{% endif %}
{% set xgbclassifier = "XGBClassifier" %}
{% if model_name == xgbclassifier %}
from sklearn.preprocessing import LabelEncoder

_le = LabelEncoder()
__target_train = pd.DataFrame(_le.fit_transform(__target_train), columns=_TARGET_COLUMNS)
with open('target_LabelEncoder.pkl', 'wb') as f:
    pickle.dump(_le, f)

{% endif %}
{% if pipeline.task.target_columns|length == 1 %}
__model.fit(__feature_train, __target_train.values.ravel())
{% else %}
__model.fit(__feature_train, __target_train)
{% endif %}
with open('model.pkl', 'wb') as f:
    pickle.dump(__model, f)